html, body {
    height: 100%;
}

body.login-page {
    background-color: #272727;
}

section {
    background-color: #272727;
}

form, .card {
    background-color: transparent;
    color: white;
}

/**
  * Control length of form
  */
.login-page .card-wrapper {
    width: 575px;
}

.login-page .card .card-title {
    margin-bottom: 30px;
    font-family: "Segoe UI", "Times New Roman", fantasy;
    font-size: 48px;
}

.login-page .card .card-body {
    font-family: "Segoe UI", "Times New Roman", fantasy;
}

.login-page .form-control {
    border-width: 2.3px;
}

.login-page .form-group label {
    width: 100%;
    font-size: 20px;
}

.login-page .btn.btn-block {
    padding: 12px 10px;
}

.login-page .btn-success {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #4AD65A !important;
}

input {
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
}

.login-page input {
    color: white;
    border-bottom-color: #575757 !important;
}

/** removing the glow from clicking */

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    box-shadow: none;
}

.login-page input:focus {
    color: #ffffff;
}

#brand {
    color: #ffc107;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Kaushan Script', serif;
}
